<a href="https://colab.research.google.com/github/keertanaganiga/Python_Workshop/blob/master/Day2_Session2_Exercise_workedout.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
'''
1.	Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.
'''

#Add name and marks {name:mark} for n number of students through keyboard in a dictionary and
#print the marks in descending order with respective name.

n=int(input("Enter no of records"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d: "%(i))
    mark=int(input("Enter mark %d: "%(i)))
    d[name]=mark
print (d)
import operator
l= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print(l)

Enter no of records7
Enter name 1: kim teahyung
Enter mark 1: 8
Enter name 2: jungkook
Enter mark 2: 67
Enter name 3: jimin
Enter mark 3: 56
Enter name 4: jhope
Enter mark 4: 98
Enter name 5: rm
Enter mark 5: 100
Enter name 6: suga
Enter mark 6: 45
Enter name 7: jin
Enter mark 7: 23
{'kim teahyung': 8, 'jungkook': 67, 'jimin': 56, 'jhope': 98, 'rm': 100, 'suga': 45, 'jin': 23}
[('rm', 100), ('jhope', 98), ('jungkook', 67), ('jimin', 56), ('suga', 45), ('jin', 23), ('kim teahyung', 8)]

In [4]:
'''
2.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary
'''
 #Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary
 #and print them in name alphabetical order with salary

n=int(input("Enter no of records: "))
d={}
for i in range(1,n+1):
    name= input("Enter name %d: "%(i))
    sal=int(input("Enter salary %d: "%(i)))
    d[name]=sal
print (d)
import operator
l= sorted(d.items(), key=operator.itemgetter(0))
print(l)

Enter no of records: 5
Enter name 1: Parcy
Enter salary 1: 29900000
Enter name 2: like
Enter salary 2: 768770988
Enter name 3: jin
Enter salary 3: 54677889
Enter name 4: jkook
Enter salary 4: 5666778
Enter name 5: vkook
Enter salary 5: 6576764556
{'Parcy': 29900000, 'like': 768770988, 'jin': 54677889, 'jkook': 5666778, 'vkook': 6576764556}
[('Parcy', 29900000), ('jin', 54677889), ('jkook', 5666778), ('like', 768770988), ('vkook', 6576764556)]

In [6]:
'''
3.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and  sum, max, min and average of the salaries
'''
# Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary
 #and print the sum, max, min and average of the salaries

n=int(input("Enter no of records: "))
d={}
for i in range(1,n+1):
    name= input("Enter name %d: "%(i))
    sal=int(input("Enter salary %d: "%(i)))
    d[name]=sal
print (d)
import operator
l= sorted(d.items(), key=operator.itemgetter(1))
print(l)
print('Minimum',l[0])
print('Maximum',l[n-1])
print('Sum',sum(d.values()))

Enter no of records: 5
Enter name 1: keertana
Enter salary 1: 65768776
Enter name 2: karthik
Enter salary 2: 56368736
Enter name 3: sujatha
Enter salary 3: 7653874687
Enter name 4: ganesh
Enter salary 4: 56578689709
Enter name 5: sathwik
Enter salary 5: 6567587908
{'keertana': 65768776, 'karthik': 56368736, 'sujatha': 7653874687, 'ganesh': 56578689709, 'sathwik': 6567587908}
[('karthik', 56368736), ('keertana', 65768776), ('sathwik', 6567587908), ('sujatha', 7653874687), ('ganesh', 56578689709)]
Minimum ('karthik', 56368736)
Maximum ('ganesh', 56578689709)
Sum 70922289816

In [8]:
'''
4.	Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000
'''
 #  Add name and salary {name:salary} for n number of employees through keyboard in a #dictionary and print only the employeeswhose salary is greater than 2000 but less than 4000

n=int(input("Enter no of records"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d: "%(i))
    sal=int(input("Enter salary %d:"%(i)))
    d[name]=sal
print (d)

l=[(k,v) for (k,v) in d.items() if v>2000 and v<4000]
print(l)

Enter no of records5
Enter name 1: jungkook
Enter salary 1:6788934
Enter name 2: v
Enter salary 2:56677898
Enter name 3: jhope
Enter salary 3:65732873
Enter name 4: jimin
Enter salary 4:676789809
Enter name 5: karma
Enter salary 5:8732983209
{'jungkook': 6788934, 'v': 56677898, 'jhope': 65732873, 'jimin': 676789809, 'karma': 8732983209}
[]

In [10]:
'''
5.	Python program to convert a 3 digit number  into words
'''
#Python program to convert 3  digit number into words

def inttoword(num):
   if (num<=20):
      print(d[num])
   if(num>20 and num<100):
      if num%10==0:       
         print(d[num])
      else:
         print(d[num//10*10]+" "+d[num%10])
   if(num>=100 and num<1000):
      if num%100==0:       
         print(d[num//100]+" "+d[100])
      if (num%100!=0 and (num%100)%10==0):
         print(d[num//100]+" "+d[100]+" "+d[( num%100)])
      elif (num%100!=0) and ((num%10)%10!=0):
         print(d[num//100]+" "+d[100]+" "+d[(num%100)-(num%10)]+" "+d[num%10])
   return

d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty',100:'hundred'}

num=int(input("Enter the integer between 1 to 99:"))

inttoword(num)

Enter the integer between 1 to 99:88
eighty eight

In [16]:
'''
1.	Python Program to count the total number of charaters (except blank space) in a text file.
'''
#Program to count the occurrences of a letter in a text file.
fname = input("Enter file name: ")
num_words = 0
ccount=0
with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        for w in words:
           for ch in w:
              ccount=ccount+1
print("Number of character:")
print(ccount)

In [17]:
'''
2.	Python Program to print all the numbers present in a text file with its total number of occurrence.
'''
#Program to count the occurrences of a numbers in a text file.
fname = input("Enter file name: ")

num = 0
ccount=0
with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        for w in words:
          if w.isdigit():
             print(w)
             num+=1
        
print("Total occurenece of numbers are:")
print(num)

In [18]:
'''
3.	Python Program to append the contents of one file to another file by getting the both file names through keyboard . 
'''
# Python Program to append the contents of one file
#to another file by getting the both file names through keyboard . 

rfile=input('Enter the file to be read')
wfile=input('Enter the file to be appended with')

with open(rfile,"r") as f:
    with open(wfile,"a") as f1:
        for line in f:
            f1.write(line)
f.close()
f1.close()

with open(wfile,"r") as f:
   for line in f:
      print(line)

In [ ]:
4.	Python Program to count the number of blank spaces in a text file. 
	#Program to count the occurrences of blank spaces  in a text file.
fname = input("Enter file name: ")

n= 0
t=0
ccount=0
with open(fname, 'r') as f:
    for line in f:
        n = line.count(' ')
        t+=n     
print("Number of blank spaces are:")
print(t)

In [ ]:
5.	Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content  into another file and read it .
	
fname = input("Enter file name: ")
f1=open("d.txt","w")
ccount=0
with open(fname, 'r') as f:
    for line in f:
        l= line.title()
        f1.write(l)
f1.close()
with open("d.txt", 'r') as f1:
    for line in f1:
        print(line)